cambiaCromosProyecto/src/XMLParser/esquema.xsd

<?xml version="1.0"  encoding="UTF-8" ?>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="Message">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="comunc_id"/>  <!-- Contiene la informacion que identifica el acto de comunicacion al que pertenece el mensaje -->
            <xs:element type="xs:string" name="msg_id"/> <!--  Contiene un identificador unico del mensaje dentro de este acto de comunicacion -->

            <xs:element name="header">
              <xs:complexType>
                <xs:sequence>
                  <xs:element type="tipo_de_protocolo" name="type_protocol"/> <!-- Identifica el protocolo asociado al mensaje (los tipos protocolos se indican en la descripcion del tipo)  -->
                  <xs:element type="xs:integer" name="protocol_step"/> <!-- Identifica el ordinal del paso en el protocolo asociado al mensaje  -->
                  <xs:element type="xs:string" name="comunication_protocol"/> <!-- Identifica si el mensaje debe transmitirse por TCP o UDP  -->

                  <xs:element type="header_origin_info" name="origin"/> <!-- Identifica la informacion referente al emisor del mensaje -->

                  <xs:element type="header_destination_info" name="destination"/> <!-- Identifica la informacion referente al receptor del mensaje -->
                </xs:sequence>
              </xs:complexType>
            </xs:element>

            <!-- Este bloque se añadirá a los mensajes que sean de negociación -->
            <xs:element minOccurs="0" name="trading_block">
                <xs:complexType>
                    <xs:sequence>

                        <!-- Lista de cromos que quiere el agente que envía el mensaje -->
                        <xs:element name="wanted_cards">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" type="xs:int" name="wanted_card"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <!-- Lista de cromos que ofrece el agente que envía el mensaje -->
                        <xs:element name="offered_cards">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" type="xs:int" name="offered_card"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <!-- Número de rupias, 0 es que ni pide ni ofrece -->
                        <!-- Un número positivo de rupias indica que las ofrece -->
                        <!-- Un número negativo de rupias indica que las pide -->
                        <xs:element name="rupees" type="xs:decimal"/>

                        <!-- Booleano que indica si se va a robar los cromos -->
                        <xs:element type="xs:boolean" name="steal"/>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Booleano que aparecerá cuando se quiera hacer una decisión para acabar un intercambio -->
            <!-- TRUE: acepto última oferta, FALSE: cancelo intercambio -->
            <xs:element name="decision" minOccurs="0" type="xs:boolean"/>

            <xs:element name="monitor_info" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="happiness" type="xs:integer"/>
                        <xs:element name="completed_sets" type="xs:integer"/>
                        <xs:element name="num_cards" type="xs:integer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:simpleType name="tipo_de_protocolo"> <!-- Define los tipos de protocolos posibles -->
          <xs:restriction base="xs:string">
              <!-- Protocolos asociados al comportamiento basico -->
              <xs:enumeration value="reproducete"/>
              <xs:enumeration value="heNacido"/>
              <xs:enumeration value="parate"/>
              <xs:enumeration value="parado"/>
              <xs:enumeration value="continua"/>
              <xs:enumeration value="continuo"/>
              <xs:enumeration value="autodestruyete"/>
              <xs:enumeration value="meMuero"/>
              <xs:enumeration value="hola"/>
              <xs:enumeration value="estoy"/>
              <xs:enumeration value="ofertaInicial"/>
              <xs:enumeration value="meInteresa"/>
              <xs:enumeration value="noMeInteresa"/>
              <xs:enumeration value="intercambio"/>
              <xs:enumeration value="decision"/>
              <!-- Protocolos asociados al comportamiento especifico. Cambia cromos, etc..basico -->
          </xs:restriction>
      </xs:simpleType>

       <xs:complexType name="header_origin_info"> <!-- Informacion referente al emisor del mensaje -->
            <xs:sequence>
                <xs:element type="xs:string" name="origin_id"/> <!-- Identificador unico del agente emisor -->
                <xs:element type="xs:string" name="origin_ip"/> <!-- ip del agente emisor -->
                <xs:element type="xs:integer" name="origin_port_UDP"/> <!-- el puerto del emmisor por el que se realiza la conexion, si se transmite por UDP -->
                <xs:element type="xs:integer" name="origin_port_TCP"/> <!-- el puerto del emmisor por el que se realiza la conexion, si se transmite por TCP -->
                <xs:element type="xs:string" name="origin_time"/> <!-- momento en el que se emite el mensaje, segun el reloj del emisor -->
            </xs:sequence>
       </xs:complexType>

        <xs:complexType name="header_destination_info"> <!-- Informacion referente al receptor del mensaje -->
        <xs:sequence>
            <xs:element type="xs:string" name="destination_id"/> <!-- Identificador unico del agente receptor -->
            <xs:element type="xs:string" name="destination_ip"/> <!-- ip del agente receptor -->
            <xs:element type="xs:integer" name="destination_port_UDP"/> <!-- el puerto del receptor por el que se realiza la conexion, si se transmite por UDP -->
            <xs:element type="xs:integer" name="destination_port_TCP"/> <!-- el puerto del receptor por el que se realiza la conexion, si se transmite por TCP -->
            <xs:element type="xs:string" name="destination_time"/> <!-- momento en el que se recibe el mensaje, segun el reloj del receptor -->
        </xs:sequence>
      </xs:complexType>

    </xs:schema>